.board-grid {
}

.board-grid > *:first-child {
  margin-bottom: 20px;
}

.board-grid__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  grid-gap: 20px;
}

.board-grid__header h2 {
  color: rgba(0, 0, 0, 0.54);
  font-size: 1.5rem;
}
